<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Carebridge"
        tools:targetApi="31">
        <activity
            android:name=".Edit.EditMediCard"
            android:exported="false" />
        <activity
            android:name=".Edit.EditFoodCard"
            android:exported="false" />
        <activity
            android:name=".Edit.EditEduCard"
            android:exported="false"
            android:label="@string/title_activity_edit_edu_card"
            android:theme="@style/Theme.Carebridge.NoActionBar" />
        <activity
            android:name=".MedicineCard"
            android:exported="false" />
        <activity
            android:name=".FoodCard"
            android:exported="false"
            android:label="@string/title_activity_food_card"
            android:theme="@style/Theme.Carebridge.NoActionBar" />
        <activity
            android:name=".WelcomePage"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Carebridge.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EducationCard"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/Theme.Carebridge.NoActionBar" />
        <activity
            android:name=".SignInActivity"
            android:exported="false"
            android:label="@string/title_activity_sign_in"
            android:theme="@style/Theme.Carebridge.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>